* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* TITLE */
.title {
  height: 100%;
  position: absolute;
  right: 5%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
@media screen and (min-width: 1024px) {
  .title {
    right: unset;
    height: unset;
    bottom: 15%;
    width: 100%;
  }
}
.title__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .title__container {
    flex-direction: row;
  }
}
.title__letter {
  color: white;
  mix-blend-mode: difference;
  opacity: 0;
  font-size: calc(5vw + 5vh);
  font-weight: 900;
  line-height: 90%;
  animation: swipe-from-right 500ms ease forwards;
}
.title__letter:nth-child(0) {
  animation-delay: -75ms;
}
.title__letter:nth-child(1) {
  animation-delay: 0ms;
}
.title__letter:nth-child(2) {
  animation-delay: 75ms;
}
.title__letter:nth-child(3) {
  animation-delay: 150ms;
}
.title__letter:nth-child(4) {
  animation-delay: 225ms;
}
.title__letter:nth-child(5) {
  animation-delay: 300ms;
}
.title__letter:nth-child(6) {
  animation-delay: 375ms;
}
.title__letter:nth-child(7) {
  animation-delay: 450ms;
}
.title__letter:nth-child(8) {
  animation-delay: 525ms;
}
.title__letter:nth-child(9) {
  animation-delay: 600ms;
}
.title__letter:nth-child(10) {
  animation-delay: 675ms;
}
.title__letter:nth-child(11) {
  animation-delay: 750ms;
}
.title__letter:nth-child(12) {
  animation-delay: 825ms;
}
.title__letter:nth-child(13) {
  animation-delay: 900ms;
}
.title__letter:nth-child(14) {
  animation-delay: 975ms;
}
.title__letter:nth-child(15) {
  animation-delay: 1050ms;
}
.title__letter:nth-child(16) {
  animation-delay: 1125ms;
}
.title__letter:nth-child(17) {
  animation-delay: 1200ms;
}
.title__letter:nth-child(18) {
  animation-delay: 1275ms;
}
.title__letter:nth-child(19) {
  animation-delay: 1350ms;
}
.title__letter:nth-child(20) {
  animation-delay: 1425ms;
}
.title__letter:nth-child(21) {
  animation-delay: 1500ms;
}
.title__letter:nth-child(22) {
  animation-delay: 1575ms;
}
.title__letter:nth-child(23) {
  animation-delay: 1650ms;
}
.title__letter:nth-child(24) {
  animation-delay: 1725ms;
}
.title__letter:nth-child(25) {
  animation-delay: 1800ms;
}
.title__letter:nth-child(26) {
  animation-delay: 1875ms;
}
.title__letter:nth-child(27) {
  animation-delay: 1950ms;
}
.title__letter:nth-child(28) {
  animation-delay: 2025ms;
}
.title__letter:nth-child(29) {
  animation-delay: 2100ms;
}
.title__letter:nth-child(30) {
  animation-delay: 2175ms;
}
.title__letter:nth-child(31) {
  animation-delay: 2250ms;
}
.title__letter:nth-child(32) {
  animation-delay: 2325ms;
}
.title__letter:nth-child(33) {
  animation-delay: 2400ms;
}
.title__letter:nth-child(34) {
  animation-delay: 2475ms;
}
.title__letter:nth-child(35) {
  animation-delay: 2550ms;
}
.title__letter:nth-child(36) {
  animation-delay: 2625ms;
}
.title__letter:nth-child(37) {
  animation-delay: 2700ms;
}
.title__letter:nth-child(38) {
  animation-delay: 2775ms;
}
.title__letter:nth-child(39) {
  animation-delay: 2850ms;
}
.title__letter:nth-child(40) {
  animation-delay: 2925ms;
}
.title__letter:nth-child(41) {
  animation-delay: 3000ms;
}
.title__letter:nth-child(42) {
  animation-delay: 3075ms;
}
.title__letter:nth-child(43) {
  animation-delay: 3150ms;
}
.title__letter:nth-child(44) {
  animation-delay: 3225ms;
}
.title__letter:nth-child(45) {
  animation-delay: 3300ms;
}
.title__letter:nth-child(46) {
  animation-delay: 3375ms;
}
.title__letter:nth-child(47) {
  animation-delay: 3450ms;
}
.title__letter:nth-child(48) {
  animation-delay: 3525ms;
}
.title__letter:nth-child(49) {
  animation-delay: 3600ms;
}
.title__letter:nth-child(50) {
  animation-delay: 3675ms;
}
.title__letter:nth-child(51) {
  animation-delay: 3750ms;
}
.title__letter:nth-child(52) {
  animation-delay: 3825ms;
}
.title__letter:nth-child(53) {
  animation-delay: 3900ms;
}
.title__letter:nth-child(54) {
  animation-delay: 3975ms;
}
.title__letter:nth-child(55) {
  animation-delay: 4050ms;
}
.title__letter:nth-child(56) {
  animation-delay: 4125ms;
}
.title__letter:nth-child(57) {
  animation-delay: 4200ms;
}
.title__letter:nth-child(58) {
  animation-delay: 4275ms;
}
.title__letter:nth-child(59) {
  animation-delay: 4350ms;
}
.title__letter:nth-child(60) {
  animation-delay: 4425ms;
}
.title__letter:nth-child(61) {
  animation-delay: 4500ms;
}
.title__letter:nth-child(62) {
  animation-delay: 4575ms;
}
.title__letter:nth-child(63) {
  animation-delay: 4650ms;
}
.title__letter:nth-child(64) {
  animation-delay: 4725ms;
}
.title__letter:nth-child(65) {
  animation-delay: 4800ms;
}
.title__letter:nth-child(66) {
  animation-delay: 4875ms;
}
.title__letter:nth-child(67) {
  animation-delay: 4950ms;
}
.title__letter:nth-child(68) {
  animation-delay: 5025ms;
}
.title__letter:nth-child(69) {
  animation-delay: 5100ms;
}
.title__letter:nth-child(70) {
  animation-delay: 5175ms;
}
.title__letter:nth-child(71) {
  animation-delay: 5250ms;
}
.title__letter:nth-child(72) {
  animation-delay: 5325ms;
}
.title__letter:nth-child(73) {
  animation-delay: 5400ms;
}
.title__letter:nth-child(74) {
  animation-delay: 5475ms;
}
.title__letter:nth-child(75) {
  animation-delay: 5550ms;
}
.title__letter:nth-child(76) {
  animation-delay: 5625ms;
}
.title__letter:nth-child(77) {
  animation-delay: 5700ms;
}
.title__letter:nth-child(78) {
  animation-delay: 5775ms;
}
.title__letter:nth-child(79) {
  animation-delay: 5850ms;
}
.title__letter:nth-child(80) {
  animation-delay: 5925ms;
}
.title__letter:nth-child(81) {
  animation-delay: 6000ms;
}
.title__letter:nth-child(82) {
  animation-delay: 6075ms;
}
.title__letter:nth-child(83) {
  animation-delay: 6150ms;
}
.title__letter:nth-child(84) {
  animation-delay: 6225ms;
}
.title__letter:nth-child(85) {
  animation-delay: 6300ms;
}
.title__letter:nth-child(86) {
  animation-delay: 6375ms;
}
.title__letter:nth-child(87) {
  animation-delay: 6450ms;
}
.title__letter:nth-child(88) {
  animation-delay: 6525ms;
}
.title__letter:nth-child(89) {
  animation-delay: 6600ms;
}
.title__letter:nth-child(90) {
  animation-delay: 6675ms;
}
.title__letter:nth-child(91) {
  animation-delay: 6750ms;
}
.title__letter:nth-child(92) {
  animation-delay: 6825ms;
}
.title__letter:nth-child(93) {
  animation-delay: 6900ms;
}
.title__letter:nth-child(94) {
  animation-delay: 6975ms;
}
.title__letter:nth-child(95) {
  animation-delay: 7050ms;
}
.title__letter:nth-child(96) {
  animation-delay: 7125ms;
}
.title__letter:nth-child(97) {
  animation-delay: 7200ms;
}
.title__letter:nth-child(98) {
  animation-delay: 7275ms;
}
.title__letter:nth-child(99) {
  animation-delay: 7350ms;
}
.title__letter:nth-child(100) {
  animation-delay: 7425ms;
}
@media screen and (min-width: 1024px) {
  .title__letter {
    animation: swipe-from-bottom 500ms ease forwards;
  }
}
@media screen and (min-width: 1200px) {
  .title__letter {
    mix-blend-mode: overlay;
    font-size: calc(8vw + 8vh);
  }
}

/* BACKGROUND */
.background__container {
  width: 100svw;
  height: 100svh;
  margin: 0 auto;
  position: relative;
}
.background__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  position: absolute;
  z-index: -1;
  opacity: 0;
  animation: swipe-from-right 1s forwards 250ms;
}
@media screen and (min-width: 1024px) {
  .background__image {
    animation: swipe-from-bottom 1s forwards 250ms;
    transform: scale(1.2);
  }
}
.background__overlay {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  animation: swipe-from-right 1s forwards;
}
@media screen and (min-width: 1024px) {
  .background__overlay {
    animation: swipe-from-bottom 1s forwards;
  }
}

/* MENU */
.burger {
  width: 40px;
  height: 25px;
  position: fixed;
  top: 2.5svh;
  left: 2.5svh;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.burger .line {
  height: 2px;
  width: 0;
  background-color: white;
  background-blend-mode: difference;
  opacity: 0;
  animation: grow 1s forwards;
  transform: scale(1);
  transition: transform 1s ease, color 500ms;
}
.burger .line:nth-last-child(1) {
  animation-delay: 0ms;
}
.burger .line:nth-last-child(2) {
  animation-delay: 150ms;
}
.burger .line:nth-last-child(3) {
  animation-delay: 300ms;
}

.navbar {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 1rem 0 1rem calc(2.5svh + 40px + 2rem);
  transform: translateY(-100%);
  transition: all 500ms;
}
@media screen and (min-width: 768px) {
  .navbar {
    padding: 2.5svh 0;
    padding-left: calc(2.5svh + 40px + 2rem);
  }
}
@media screen and (min-width: 1200px) {
  .navbar {
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .navbar .nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .navbar .nav {
    overflow: visible;
  }
}
.navbar .nav .menu {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
@media screen and (min-width: 768px) {
  .navbar .nav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .navbar .nav .menu {
    overflow: visible;
  }
}
.navbar .nav .menu .item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .navbar .nav .menu .item li {
    overflow: visible;
  }
  .navbar .nav .menu .item a {
    font-size: 1.25rem;
    line-height: 1rem;
    position: relative;
    padding: 0.5rem 1rem;
    transition: all 0.5s ease;
  }
  .navbar .nav .menu .item a::before {
    content: "";
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }
  .navbar .nav .menu .item a:hover {
    color: white;
  }
  .navbar .nav .menu .item a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}
.navbar .nav .menu .item a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.navbar__background {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100svh;
  padding: calc(2rem + 75px + 40px + 0.5rem) 0.5rem 0.5rem 0.5rem;
  transform: translateY(-100%);
  transition: all 500ms;
  display: grid;
  gap: 0.5rem;
}
@media screen and (min-width: 768px) {
  .navbar__background {
    padding: calc(5svh + 25px + 1rem) 1rem 1rem 1rem;
    gap: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .navbar__background {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.navbar__background .image__container {
  width: 100%;
  height: 100%;
  position: relative;
  transform: scale(0);
  transition: transform 1s;
}
@media screen and (min-width: 1024px) {
  .navbar__background .image__container .text,
  .navbar__background .image__container .overlay {
    transition: all 500ms;
    transform: translateY(100%);
  }
  .navbar__background .image__container:hover img {
    filter: grayscale(100%);
  }
  .navbar__background .image__container:hover .text,
  .navbar__background .image__container:hover .overlay {
    transform: translateY(0);
  }
}
.navbar__background .image__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 500ms;
  z-index: 0;
}
.navbar__background .image__container .link {
  width: 100%;
  height: 100%;
  display: block;
}
.navbar__background .image__container .link .text {
  position: absolute;
  bottom: 0;
  color: white;
  text-decoration: none;
  font-size: 1.15rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .navbar__background .image__container .link .text {
    padding: 1rem;
  }
}
.navbar__background .image__container .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to top, #000, transparent);
  z-index: 10;
}

[data-menu-is-open=true] .burger .line {
  background-color: black;
}
[data-menu-is-open=true] .burger .line:first-child, [data-menu-is-open=true] .burger .line:last-child {
  transform: scale(0);
}
[data-menu-is-open=true] .navbar,
[data-menu-is-open=true] .navbar__background {
  transform: translateY(0);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
[data-menu-is-open=true] .image__container {
  transform: scale(1);
}

/* ANIMATIONS */
@keyframes swipe-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes swipe-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes swipe-from-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes grow {
  0% {
    width: 0%;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
